body{
    background-image:url(../images/Website-Design-Background.webp) ;
    background-size: 1537px 720px;
    padding: 0px;
    margin: 0px;
}
.container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: fit-content;
    text-align: center;
}
.img1{
   width:410px ;
    height: 80px;
    margin-top: 30px;
}
.img2{
    width:410px ;
    height: 300px; 
}
.container p{
    color: #ffffff;
    font-family: Arial;
    text-decoration: bold;
    padding-top: 30px;
}
button{
    margin: 0px auto;
    margin-top: 70px;
    height: 50px;
    width: 200px;
    border-radius: 40px;
    background-image: linear-gradient( to left,skyblue,purple);
    border: 0px;
    outline: 0px;
}
 a {
    color: #ffffff;
    font-size: 25px;
    position: relative;
    text-decoration: none;
}